html, body {
  margin: 0;
  height: 100%;
}

body {
  font-family: 'Chela One', cursive;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to bottom, #a5b5bb 0%, #a5b5bb 100%);
  background-attachment: fixed;
  font-size: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fadeOut {
  animation-name: fadeToWhite;
  animation-duration: 3s;
  height: 100vh;
  width: 100vw;
  position:fixed;
  padding:0;
  margin:0;
  top:0;
  left:0;
}


.container {
  text-align: center;
  display: flex;
  justify-content: center;
  
  .headerdiv {
    position:relative;
  }
  .scene {
    height: 600px;
    width: 800px;
    /* border: 5px solid #000; */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .fadeIn {
    animation-name: fadeFromWhite;
    animation-duration: 3s;
    height: 100vh;
    width: 100vw;
    position: absolute;
    padding:0;
    margin:0;
    top:0;
    left:0;
  }
}
.classroom-fade {
  animation-name: fade-landing-in;
  animation-duration: 4s; 
}
.classroom {
  position: relative;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}
.heading-small {
  font-size: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.heading-main {
  position: relative;
  margin-top: .3rem;
  margin-bottom: -.1rem;
  letter-spacing: -12px;
  font-size: 7rem;
  text-shadow:
  //   /* White glow */
    0 0 2px rgb(164, 207, 247),
    0 0 6px rgb(164, 207, 247),
    0 0 10px rgb(164, 207, 247)
}
.game-frame {
  height: 650px;
  width: 800px;
}

.landing-container {
  text-align: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;

  
}

.clickable {
  cursor: pointer;
}
.landing-start {
  justify-self: center;
  align-self: center;
  height: 50vh;
  width: 100vw;
  font-size: 150px;
  animation-name: fade-landing-in;
  animation-duration: 2s;
  margin-top: 40vh;
}
.landing-logo {
  justify-self: center;
  align-self: center;
  height: 50vh;
  width: 100vw;
  font-size: 300px;
  opacity: 1;
  animation-name: fade-landing-in;
  animation-duration: 2s;
  animation-iteration-count: 2;
  animation-direction: alternate;
  margin-top: 40vh;
  text-shadow:
  //   /* White glow */
  0 0 2px rgb(164, 207, 247),
  0 0 6px rgb(164, 207, 247),
  0 0 10px rgb(164, 207, 247),
  /* Green glow */
}

.landing-header {
  justify-self: center;
  align-self: center;
  height: 50vh;
  width: 100vw;
  font-size: 150px;
  animation-name: fade-landing-in;
  animation-duration: 2s;
  animation-iteration-count: 2;
  animation-direction: alternate;
  margin-top: 40vh;
}

.landing-instr {
  justify-self: center;
  align-self: center;
  width: 70vw;
  font-size: 6rem;
  animation-name: fade-landing-in;
  animation-duration: 4s;
  animation-iteration-count: 2;
  animation-direction: alternate;
  margin-top: 25vh;
}




@keyframes fade-landing-in {
  from {opacity: 0};
  to {opacity: 1}
}

.dreamscene {
  padding-top: 1rem;
}


.click-box {
	cursor: pointer;
	height: 3rem;
	width: 3rem;
	/* border: 3px solid black; */
	position: absolute;
}




.speech {
    font-family: arial, sans-serif;
    font-size: 1rem;
    color: #000;
    position: absolute;
    background: #fff;
    padding: 0.8rem;
    border: 2px solid #000;
    max-width: 7rem;
}
