html, body {
  margin: 0;
  height: 100%;
}

body {
  font-family: 'Chela One', cursive;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to bottom, #9be2fe 0%,#67d1fb 100%);
  background-attachment: fixed;
  font-size: 10px;
/*   font-family: -apple-system, BlinkMacSystemFont,'Segoe UI', 'Roboto', 'Yellowtail', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(13, 13, 36);
  color: white */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  text-align: center;
  display: flex;
  justify-content: center;
}

.game-frame {
  height: 576px;
  width: 1600px;
}

.scene {
  height: 600px;
  width: 800px;
  /* border: 5px solid #000; */
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.cloud {
	width: 350px; height: 120px;
	
	background: #f2f9fe;
	background: linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	background: -webkit-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	background: -moz-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	background: -ms-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	background: -o-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	
	position: relative;
	margin: 100px auto 20px;
}

.cloud:after, .cloud:before {
	content: '';
	position: absolute;
	background: #f2f9fe;
	z-index: -1
}

.cloud:after {
	width: 100px; height: 100px;
	top: -50px; left: 50px;
	
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
}

.cloud:before {
	width: 180px; height: 180px;
	top: -90px; right: 50px;
	border-radius: 200px;
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
}

.heading-logo {
	height: 80%;
	width: auto;
}

.heading-main {
  font-size: 7rem;
  margin: 1rem;
}

.heading-sub {
  font-size: 4rem;
}

.heading-small {
  font-size: 2rem;
}

.cloud-img-small {
  height: auto;
  width: 20%;
}

.clickable {
  cursor: pointer;
}

.click-box {
	cursor: pointer;
	height: 3rem;
	width: 3rem;
	/* border: 3px solid black; */
	position: absolute;
}

.classroom {
	position: relative;
}

.speech {
    font-family: arial, sans-serif;
    font-size: 1rem;
    color: #000;
    position: absolute;
    background: #fff;
    padding: 0.8rem;
    border: 2px solid #000;
    max-width: 7rem;
}
/* .header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.firstHeader {
  margin-top: 30px;
  font-size: 100px;
 color: #bfb1e6;
 text-shadow:
 0 0 4px #a68deb,
      0 0 8px #a68deb,
      0 0 10px #a68deb,
      0 0 40px #5213fe,
      0 0 80px #5213fe,
      0 0 90px #5213fe,
      0 0 100px #5213fe,
      0 0 150px #5213fe;
}

@media screen and (prefers-reduced-motion) { 
  .secondHeader {
    animation: none;
  }
}

.secondHeader {
  font-size: 100px;
  font-weight: lighter;
  font-family: "Yellowtail", sans-serif;
  color: #e9caf5;
  /* animation: flicker 1.5s infinite alternate;  */
/*   margin-left: -100px;
  margin-top: 110px;
  margin-bottom: 20px;
} */

@keyframes flicker {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    text-shadow:
  0 0 5px #e9caf5,
  0 0 8px #e9caf5,
  0 0 10px #e9caf5,
  0 0 42px #bc13fe,
  0 0 82px #bc13fe,
  0 0 92px #bc13fe,
  0 0 102px #bc13fe,
  0 0 151px #bc13fe;
  }
  20%, 24%, 55% {       
    text-shadow: none;
  }
}

.navbar {
  display: flex;
  flex-direction: row;
  width: 80vw;
  justify-content: space-evenly;
  background-color: rgb(13, 13, 36);
  padding: 20px 0 20px 0;
  margin-top: 20px;
  z-index: 1;
  box-shadow: 0 0 .2rem #fff,
  0 0 .2rem #5213fe,
  0 0 1.5rem #5213fe, 
  0 0 0.8rem #5213fe,
  0 0 2rem #5213fe,
  inset 0 0 1.3rem #5213fe;
}

.navLink {
  text-align: center;
  width: 20%;
  background-color: rgb(23, 23, 65);
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  z-index: 1;
  box-shadow: 0 0 .2rem #000,
  0 0 .1rem #000,
  0 0 .8rem #000, 
  0 0 0.5rem #000,
  0 0 1rem #000,
  inset 0 0 1.3rem #000;
}

/*.page {
  display: flex;
  flex-direction: column;
  align-items: center;
} */
/* @keyframes pulsate {
  100% {
    /* Larger blur radius */
    /* text-shadow:
      0 0 4px #fff,
      0 0 8px #fff,
      0 0 10px #fff,
      0 0 40px #5213fe,
      0 0 80px #5213fe,
      0 0 90px #5213fe,
      0 0 100px #5213fe,
      0 0 150px #5213fe;
  }
 0% { */
    /* A slightly smaller blur radius */
    /* text-shadow:
      0 0 4px #fff,
      0 0 10px #fff,
      0 0 18px #fff,
      0 0 38px #5213fe,
      0 0 73px #5213fe,
      0 0 80px #5213fe,
      0 0 94px #5213fe,
      0 0 140px #5213fe;
  }
} */ 
.speechBubbleCount {
  display: none;
}

.speechBubbleCount1 {
  width: 100px;
  height: 110px;
  background-color: white;
  background-color: transparent;
  position: absolute;
  left: calc(50% - 450px);
  top: 17.5rem;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}
.speechBubbleCount2{
  width: 100px;
  height: 110px;
  background-color: white;
  background-color: transparent;
  position: absolute;
  left: calc(50% - 100px);
  top: 17.5rem
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}
.speechBubbleCount3{
  width: 100px;
  height: 110px;
  background-color: white;
  background-color: transparent;
  position: absolute;
  left: calc(50% - 450px);
  top: 27.5rem;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}
.speechBubbleCount4{
  width: 100px;
  height: 110px;
  background-color: white;
  background-color: transparent;
  position: absolute;
  left: calc(50% - 100px);
  top: 27.5rem;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

.speechBubbleBig {
  background-color: white;
  height: 90px;
  width: 90px;
  border-radius: 40px;
  position: absolute;
  z-index: 3;
  animation-name: fade;
  animation-duration: 2s;
  
  
  /* border: 1px solid black; */
  /* align-self: flex-start; */
  
}
.VisbleMed1 .speechBubbleMedLeft {
  background-color: white;
  height: 25px;
  width: 25px;
  top: 65px;
  left: 55px;
  border-radius: 15px;
  animation-name: fade;
  animation-duration: 2s;
  z-index: 2;
  position: absolute;

}
.VisbleMed3 .speechBubbleMedLeft {
  background-color: white;
  height: 25px;
  width: 25px;
  top: 65px;
  left: 55px;
  border-radius: 15px;
  animation-name: fade;
  animation-duration: 4s;
  z-index: 2;
  position: absolute;

}

.Visible1 .speechBubbleSmallLeft {
  background-color: white;
  border-radius: 10px;
  height: 12px;
  width: 12px;
  position: absolute;
  top: 93px;
  left: 75px;
  animation-name: fade; 
  animation-duration: 2s;
  
  
}  
.Visible3 .speechBubbleSmallLeft {
  background-color: white;
  border-radius: 10px;
  height: 12px;
  width: 12px;
  position: absolute;
  top: 93px;
  left: 75px;
  animation-name: fade; 
  animation-duration: 2s;
  
  
}  
.VisbleMed2 .speechBubbleMedRight {
  background-color: white;
  height: 25px;
  width: 25px;
  top: 65px;
  left: 5px;
  border-radius: 15px;
  animation-name: fade;
  animation-duration: 2s;
  z-index: 2;
  position: absolute;
  

}
.VisbleMed4 .speechBubbleMedRight {
  background-color: white;
  height: 25px;
  width: 25px;
  top: 65px;
  left: 5px;
  border-radius: 15px;
  animation-name: fade;
  animation-duration: 2s;
  z-index: 2;
  position: absolute;
  

}

.Visible2 .speechBubbleSmallRight {
  background-color: white;
  border-radius: 10px;
  height: 12px;
  width: 12px;
  position: absolute;
  top: 93px;
  left: -5px;
  animation-name: fade; 
  animation-duration: 2s;
} 

.Visible4 .speechBubbleSmallRight {
  background-color: white;
  border-radius: 10px;
  height: 12px;
  width: 12px;
  position: absolute;
  top: 93px;
  left: -5px;
  animation-name: fade; 
  animation-duration: 2s;
} 

@keyframes fade {
  0% {background-color: transparent;}

  100% {
    background-color: white;
  }
}


/* .speechBubbleSmall2 {
  background-color: white;
  border-radius: 10px;
  height: 12px;
  width: 12px;
  position: absolute;
  top: 92px;
  left: 52px;
  
  /* border: 1px solid black; */
  
  /* margin-left: 100px; */
  /* align-self: flex-end; */
/* } */ 
/* .speechBubbleSmall3 {
  background-color: white;
  border-radius: 10px;
  height: 17px;
  width: 17px;
  position: absolute;
  top: 80px;
  left: 35px;
  
  border: 1px solid black; 
  
   margin-left: 100px; 
   align-self: flex-end; 
 } 
 .speechBubbleMed2 {
  background-color: white;
  height: 25px;
  width: 25px;
  border-radius: 12px;
  position: absolute;
  top: 40px;
  left: -10px;
  
}
.speechBubbleMed3 {
  background-color: white;
  height: 25px;
  width: 25px;
  border-radius: 12px;
  position: absolute;
  top: 20px;
  left: 73px;
  
}
.speechBubbleMed4 {
  background-color: white;
  height: 25px;
  width: 25px;
  border-radius: 12px;
  position: absolute;
  top: -10px;
  left: 23px;
  
} 
*/

